@use '../../styles/vars' as *;

.main {
  padding: 46px 40px;
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__cars {
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 73px 20px;
  }
}

@media (max-width: $breakpoint-xs) {
  .main {
    padding: 20px 15px;
    .actions {
      flex-direction: column;
      gap: 15px;
    }
  }
}
