/* Fonts */
$font-main: "Inter", sans-serif;
$font-secondary: "Arial", sans-serif;

/* Font-size */
$h1-title-size: 48px;
$h2-title-size: 36px;
$h3-title-size: 24px;
$h4-title-size: 16px;
$p-text-size: 14px;

/* Colors */
$blue-0: #1e8fff;
$blue-1: #6c47ff;
$blue-2: #4f2cd9;
$blue-3: #3213ac;
$blue-4: #240c86;
$gray-0---white: #fff;
$gray-1: #f8f8f8;
$gray-2: #d9d9d9;
$gray-3: #595959;
$gray-4---black: #000;
$red---1: #d73737;
$red---2: #b72121;

/* BreakPoints */
$breakpoint-xl: 1440px;
$breakpoint-1240: 1240px;
$breakpoint-1120: 1120px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 640px;
$breakpoint-xs: 576px;
